// Colours
$green: #84ad47;
$red: #ad4747;
$blue: #4784ad;
$gray-10: #eaeaea;

form {
  margin: 0 auto;
  min-width: 9rem;

  .form-group {
    margin-bottom: 16px;
  }
}

h1,
h2,
h3 {
  margin-bottom: 1.6rem;
}

input,
select,
textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 5%);
  color: darken(#f9f9f9, 80%);

  &[type="submit"] {
    background: $green;
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

  &.error {
    background: $red;
    color: #fff;
    &::placeholder {
      color: darken($red, 60%);
    }
  }
}

textarea {
  height: 10rem;
}
.captcha {
  float: left;
  input {
    float: right;
  }
  input[name="question"] {
    width: 4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: right;
    padding-right: 0;
  }
  [name="captcha"] {
    width: 5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.5rem;
    &::placeholder {
      text-align: center;
    }
  }
}

// Generic Styles ;)
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff)
      format("woff");
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon {
  font-size: 20px;
}

.content-title {
  font-size: 18px;
  color: #5a5a5a;
}

.select {
  appearance: none; /* ① */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #aaa; /* ② ここから */
  border-radius: 4px;
  padding: 5px 25px 5px 10px;
  font-size: 1.2rem;
  cursor: pointer; /* ② ここまで */
}

.select:disabled {
  pointer-events: none;
  background-color: #f1f1f1;
  color: #aaa;
}

.select-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}

li {
  list-style: none;
}

.container {
  margin: 40px 0;
  padding: 0 25px;
}

.dropdown {
  position: relative;
  ul {
    position: absolute;
    top: 32px;
    left: -80px;
    padding: 4px;
    width: 120px;
    background-color: white;
    border-radius: 4px;
    list-style: none;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
      rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    li {
      button {
        justify-content: left;
        width: 100%;
        padding: 8px 8px;
        background: none;
        color: #000;
        font-size: 15px;

        &:hover {
          background: $gray-10;
        }

        svg {
          margin-right: 8px;
        }
      }
    }
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 16px;
  border: none;
  border-radius: 0.3rem;
  background: #5e46c5;
  color: #fff;

  &:hover {
    background: #3d2d85;
  }

  &.cancel {
    margin: 0 8px 0 0;
    background-color: #fff;
    color: #757575;
    border: 1px solid #ccc;

    &:hover {
      background: $gray-10;
    }
  }

  &.add {
    width: 0 auto;
    background-color: unset;
    color: #3d84ff;
  }

  &.kebab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 32px;
    padding: 0;
    background: #fff;
    color: #333;

    &:hover {
      background: $gray-10;
    }
  }
}

.input-price {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  span {
    margin-left: 0.4rem;
  }
}

.sub-summary {
  display: flex;
  justify-content: space-between;
  place-items: center; //中央に寄せる
  margin-bottom: 40px;
  padding: 32px 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.total-cost {
  span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
}

.sub-item {
  margin-bottom: 16px;
  padding: 12px 12px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;

  .item-category {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 6px 8px;
    font-size: 13px;
    font-weight: bold;
    background: #00627d;
    color: #ffffff;
    border-radius: 4px;
  }

  .business {
    background: #00627d;
  }

  .learn {
    background: #4b007d;
  }

  .entertainment {
    background: #7d0051;
  }
}

.item-header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin-bottom: 8px;
}

.item-group {
  display: flex;
  justify-content: space-between;
  place-items: flex-start;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
}

.item-info {
  text-align: right;
  color: #929292;

  p {
    font-size: 14px;
    span {
      font-size: 18px;
      font-weight: bold;
      color: #000;
    }

    &:first-child {
      margin-bottom: 12px;
    }
  }
}
